<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://src.deerow.xyz/css/style.css" />
  </head>
  <body>

      <div class="card">
        <div class="image-wrapper">
          <img src="https://src.deerow.xyz/images/avaters/g_avater.png" alt="Welcome Image" />
        </div>
        <h1>Welcome!</h1>
        <p>𝗚𝗮𝗰𝗺𝗼 𝗳𝘂𝗿𝗮𝗻 👏🏻</p>
        <a href="https://wa.me/252628397213" target="_blank" class="whatsapp-button">
          <img src="https://img.icons8.com/ios-filled/50/ffffff/whatsapp.png" alt="WhatsApp" />
          Chat on WhatsApp
        </a>

        <a href="mailto:cllahiindhayare213@gmail.com" class="email-button">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/new-post.png" alt="Email" />
        Send me Email
        </a>
        <a href="https://t.me/abdalla77star" target="_blank" class="t-button">
          <img src="https://img.icons8.com/ios-filled/50/ffffff/telegram.png" alt="Telegram" />
          Chat on Telegram
        </a>
        <p class="note">We care about your privacy👏🏻</p>
      </div>


    </div>

  </body>
</html>
